@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Footprint";
}

@{
    Layout = "_mysharedLayout";
}



<div class="maininfo">
    <div class="congrats font-effect-fire font-effect-fire-animation">
        <p>Congratulations @ViewBag.currentUserName ! </p>
    </div>
    <div class="fptwords font-effect-shadow-multiple">
        <p>Your carbon footprint is @ViewBag.Final Tons.</p>
        <p>Your household falls @ViewBag.USrange for US homes.</p>
        <p style="min-width:650px;">Your household falls @ViewBag.Staterange for @ViewBag.state homes.</p>
    </div>
    <div class="infosec">
        <a href="https://www.footprintnetwork.org/our-work/climate-change/" target="_blank">
            <img alt="Qries" src="/images/footprintinfo.png"
                 style="width:350px; height:400px; border-radius:10px; border-color:blue; border-width:5px; border-style:double;">
        </a>
    </div>
    <div class="graphresults" style="margin-top:5px;">
        <img class="co2map" src="~/images/CEbyState2017.JPG" style="width:450px; height:300px;"/>
    </div>
    <a class="saveit" href="https://pdf-ace.com/pdfme/" target="_blank">Save as PDF</a>
</div>


