@model IEnumerable<MyCarbonFootprintCalculator.Models.HouseMod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sqft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energy_Usage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energy_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electric)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sqft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy_Usage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Electric)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HouseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HouseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
