@model MyCarbonFootprintCalculator.Models.GenInfoMod

@{
    ViewData["Title"] = "Details";
}

<h4>Details</h4>

<div style="grid-template-rows: 50px 1fr; grid-template-columns: 60% 30%; display:grid;">
    <h4 style="grid-area:1/1/2/3;">General Information</h4>
    <hr />

    <div style="grid-area: 2/1/3/2;">
        <dl class="row" style=" min-width:1050px;">
            @if (ViewBag.CurrentUserId == 1)
            {
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserId)
    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-2">
                Annual Income ($)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualIncome)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
            <a asp-area="" asp-controller="HouseMods" asp-action="Create">Next</a>
            <p class="admin-index" style="margin-top: 20px;">
                @if (ViewBag.CurrentUserId == 1)
                {
                    <a asp-action="Index">Back to List</a> @*don't want regular users to have access*@
                }
            </p>
        </div>
    </div>
    <div style="grid-area: 1/2/3/3; margin-top:10px; margin-left:0px; padding-left:0px;">
        <a href="https://mega.online/en/articles/are-you-really-living-a-low-carbon-life" target="_blank">
            <img alt="Qries" src="/images/geninfo.png"
                 style="width:350px; height:400px; border-radius:10px; border-color:blue; border-width:5px; border-style:double;">
        </a>
    </div>
</div>


